In [120]:
import pandas as pd
import numpy as np

from dset import TitanicDataset
from model import TitanicModel
from training import TitanicApp

import torch
from torch import nn
from torch import optim

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [3]:
train_data = pd.read_csv('input/train.csv', index_col = 'PassengerId')
train_data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [69]:
titanic_dataset = TitanicDataset(is_train = True, batch_size = 64)
titanic_dataset.data.head()

             Pclass  Name    Sex   Age  SibSp  Parch     Fare  Embarked
PassengerId
1                 2     0   True  22.0      1      0   7.2500         1
2                 0     2  False  38.0      1      0  71.2833         2
3                 2     1  False  26.0      0      0   7.9250         1
4                 0     2  False  35.0      1      0  53.1000         1
5                 2     0   True  35.0      0      0   8.0500         1

In [131]:
titanic_dataset = TitanicDataset(is_train = True, batch_size = 64)
print('Cleaning Training Tensor: \n{}'.format(titanic_dataset[0][1][:5]))
print('Labels Tensor: \n{}'.format(titanic_dataset[0][0][:5]))

Cleaning Training Tensor:
tensor([[ 2.0000,  0.0000,  1.0000, 22.0000,  1.0000,  0.0000,  7.2500,  1.0000],
        [ 0.0000,  2.0000,  0.0000, 38.0000,  1.0000,  0.0000, 71.2833,  2.0000],
        [ 2.0000,  1.0000,  0.0000, 26.0000,  0.0000,  0.0000,  7.9250,  1.0000],
        [ 0.0000,  2.0000,  0.0000, 35.0000,  1.0000,  0.0000, 53.1000,  1.0000],
        [ 2.0000,  0.0000,  1.0000, 35.0000,  0.0000,  0.0000,  8.0500,  1.0000]])
Labels Tensor:
tensor([0, 1, 1, 1, 0])

(Insert Architecture)

In [146]:
param_name = ['Weights', 'Bias', 'BatchNorm']
model = TitanicModel(in_chans = 8)
for i, param in enumerate(model.parameters()):
    print(param_name[i%3] + ':', param.shape)
    if i%3 == 2: print('-' * 10)
        
loss_fn = nn.NLLLoss()
optimizer = optim.Adam(model.parameters(), lr = 1e-2)

Weights: torch.Size([10, 8])
Bias: torch.Size([10])
BatchNorm: torch.Size([10])
----------
Weights: torch.Size([10])
Bias: torch.Size([20, 10])
BatchNorm: torch.Size([20])
----------
Weights: torch.Size([20])
Bias: torch.Size([20])
BatchNorm: torch.Size([2, 20])
----------
Weights: torch.Size([2])

In [147]:
titanic_app = TitanicApp()
titanic_app.init_model(model)
titanic_app.init_loss(loss_fn)
titanic_app.init_optimizer()

In [157]:
titanic_app.do_training(n_epochs = 100, train_dl = titanic_dataset)

tensor(5.5322, grad_fn=<AddBackward0>)
tensor(5.5558, grad_fn=<AddBackward0>)
tensor(5.5461, grad_fn=<AddBackward0>)
tensor(5.5142, grad_fn=<AddBackward0>)
tensor(5.4722, grad_fn=<AddBackward0>)
tensor(5.4879, grad_fn=<AddBackward0>)
tensor(5.5066, grad_fn=<AddBackward0>)
tensor(5.4431, grad_fn=<AddBackward0>)
tensor(5.5517, grad_fn=<AddBackward0>)
tensor(5.4726, grad_fn=<AddBackward0>)